# Java
*.class
*.jar
*.war
*.ear

# Maven
/logs/
/target/
!.mvn/wrapper/maven-wrapper.jar

# Eclipse
.classpath
.project
.settings/

# IntelliJ
*.iml
.idea/

# VS Code
.vscode/

# OS generated
.DS_Store
Thumbs.db

# Environment
.env

# Others
*.log
*.tmp
